@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
}

#header{
    background-image: url(../images/back1.jpg);
    /* height:40vh;
    width: 100%; */
    background-repeat: no-repeat;
    padding: 10px;
    margin: 0;
    background-size: cover;
    



}
#title{
    color:rgb(245, 245, 245);
    text-align:center;
    padding:5vw;
    font-family: 'Architects Daughter', cursive;
    
}
#nav{
    background-color: #8c8f8c;
    width:100%;
}
#signin,#profile,#signout,#signup{
    
    color: #343a35;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6vw;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    
}
/* index */
/* #blog-images{
    padding: 4vw ;
} */
#sub{
    background-color: #3ec03e;
   
}
.form-inline{
    float: right;
    padding: 0.5em 3em;
}